@import url(../runo/legacy-styles.css);

.v-generated-body{
    background-color: khaki;
}

.v-app {
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    min-width: 550px;
    border-radius: 50px;
}


.v-label-h1 {
    margin-top: 30px;
    margin-bottom: 100px;
    text-align: center; 
}

.v-label-h2 {
    text-align: center; 
    margin-bottom: 40px;
}

.v-formlayout-captioncell {
    text-align: left;
    white-space: normal;
}

.errorlabel {
    text-align: center;
    color: red;
    border-style:solid;
    border-color:red;
    border-width:1px;
    border-radius: 8px;
}

.gridlayoutmargin{
    margin-bottom: 50px;
}

.footerlabel{
    text-align: center;
    color: gray;
}

.v-icon {
    height: 20px;
}
